@media (min-width : 320px) and (max-width: 768px) {
 #btnEye{
   position: absolute;
   appearance: none;
   border: none;
   background-color: transparent !important;
   border-color: white;
   outline: none;
   top: 61px;
   right: 0px;
 }
 #eye{
   width: 20px;
   vertical-align: middle;
 }
 .header-login{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0.15px;
   color: #000000;
   margin: 14px;
 }
 .body-login{
   display: flex;
   align-items: center;
   flex-direction: column;
   white-space: pre-line;
 }
 #logoLogin{
   position: absolute;
 }
 #formLogin{
   position: absolute;
   top: 204px;
 }
 #btnLogin{
   position: absolute;
   appearance: none;
   border: none;
   background-color: transparent !important;
   border-color: white;
   outline: none;
 }
 .footer-login{
   display: flex;
   justify-content: center;
   margin-top: 238px;
 }
}