@media (min-width : 320px) and (max-width: 768px) {
  .profile-div{
    flex-direction: column;
    align-items: center;
  }
  .edit-profile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 321px;
  }
    
  #profileForm {
    flex-direction: column;
  }
    
  .profile{
    margin: 6px 0px 6px;
  }



/* Ultima llave del responsive  */
} 
