@media (min-width : 320px) and (max-width: 768px) {

body {
   
    margin: 0px;
}

#navBar{
    background-color: #22335E;
    text-align: center;
    height: 56px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: white;

}
.btn-comunidad{
    display: flex;
    color: #FEFEFE;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    position: absolute;
    left: 40px; 
}
.btn-option{
    background-color:  #22335E;
    display: flex;
    margin-top: 55px;
    color: white;
    position: absolute;
    height: 48px;
    width: 100%
}
.btn-chat{
    display: flex;
    color: #FEFEFE;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    position: absolute;
    right: 21.97%;
    
}
.buscador-wall{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15%;
    bottom: 0%;
    background: #E0E0E0;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
}
}