@media (min-width : 320px) and (max-width: 768px) {

.logoHome{
    margin-top: 50px;
}

.carousel-indicators{
    background-color: blue;
}

.carousel-inner{
    margin-top: 147px;
}

.carousel-caption d-none d-md-block {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #212529;
    text-align: center;
    display: block;
}

.header-home1{

}

#btnStart{

}



/* overflow-x: hidden; /* Hide horizontal scrollbar */
