@media (min-width : 320px) and (max-width: 768px) {

    .logoHome{
        margin: 33px 19px 0px 56px;
        width: 200px;
        height: 69px;
    }

    #logIn1{
        margin: 51px 33px -68px 190px;
    }
    
    h5{
        font-size: 10px;
        Font family: Roboto
    }
    
}


    .carousel-indicators{
        background-color: #4D8FC2;
    }

    .carousel-indicators li{
        background-color: #4D8FC2;
    }
  
    

    .carousel-inner{
        height: 405px;
    }

    .carousel{
        position: inherit;
    }

    .carousel-item{
     
     
    }

    .carousel-item active{
        height: 405px;
    }
    
    .carousel.pointer-event{
        
    }

    .carousel slide{
        margin: 10px;
    }

        #btnStart{
        margin: 0px 32px 8px 105px;
        font-family: Roboto;
        font-size: 14px;
        color: #FEFEFE;
        line-height: 5px;
        background: #4D8FC2;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        border-radius: 4px;
        width: 115px;
        height: 26px;
        left: 123px;
        top: 498px;
    }

    .translate{
      display: flex;
      justify-content: center;
    }
    
    .selectTranslate{
        display: flex;
        justify-content: center;
    }
   


}
