@media (min-width : 320px) and (max-width: 768px) {

    .logoHome{
        margin: 33px 22px 0px 65px;
        width: 147px;
        height: 44px;
    }
    #logIn1{
        margin: 5px 42px -17px 179px;
    }
    #logIn2{
        margin: -41px 5px -2px 1px;
    }
    h5{
        font-size: 10px;
        Font family: Roboto
    }
    
    .carousel-indicators li{
        background-color: #4D8FC2;
    }    
    .carousel-inner{
        width: 213px;
        height: 365px;
    }
    .carousel{
        position: inherit;
    }
    .carousel-item active {
    }
    
    .carousel.pointer-event{
    }
    .carousel slide{
        margin: 10px;
    }
    #btnStart{
        margin: 11px 32px 8px 86px;
        font-family: Roboto;
        font-size: 14px;
        color: #FEFEFE;
        line-height: 5px;
        background: #4D8FC2;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        border-radius: 4px;
        width: 115px;
        height: 26px;
        left: 123px;
        top: 498px;
    }
    .transtale{
      display: flex;
      justify-content: center;
      margin: 11px -21px 10px -24px;
    }
    .selectTranslate{
        display: flex;
        justify-content: center;
    }

    a.gflag{
        margin: 4px;
    }

}
