
@media (min-width : 320px) and (max-width: 768px) {
  .profile-data-user {
    display: flex;
    flex-direction: column;
  }
  .back {
    margin: 6px;
  }
  .profile-title{
    margin-left: 6px;
  }
  #loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4d8fc2;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 1;
    top: 160px;
    left: 97px;
}
  

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .image-upload>input {
    display: none;
  }

  .image-upload{
    position: absolute;
    z-index: 1;
    top: 144px;
    right: 72px;
  }
  .edit-profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 321px;
  }
  
  #profileForm {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  
  .profile {
    margin: 6px 0px 6px;
    height: 31px;
    position: absolute;
    border: none;
    left: 25px;
    width: 100%;
    outline: none;
    max-width: 254px;
    padding-left: 4px;
  }
  
  .label-profile label {
    position: absolute;
    z-index: 1;
    background: white;
    left: 28px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px
  }

  .label-name {
    top: 207px;
  }

  .label-full-name {
    top: 279px;;
  }

  .label-city {
    top: 351px;
  }

  .label-occupation {
    top: 424px;
  }
  .label-instagram {
    top: 495px;
  }

  .label-facebook{
    top: 568px;
  }
 .label-aboutMe{
  top: 639px;
 }

 .label-profile p {
  left: 35px;
  position: absolute;
  z-index: 1;
  font-size: 10px;
 }
 .inf-input-instagram {
  bottom: -11px;
 }

 .inf-input-facebook {
  bottom: -82px;
 }

 .inf-input-me {
  bottom: -155px;
 }

  .label-profile:active , .label-profile:hover{
    color: blue;
    border-color: blue;
 }


  .label-profile{
    border: 1px solid #979797;
    height: 40px;
    width: 100%;
    max-width: 280px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .profile-div{
    flex-direction: column;
    align-items: center;
  }

  .btn-profile {
    background: #4D8FC2;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 15px;
    color:#FEFEFE;
  }

  .profile-2 {
    display: none;
  }
  /* profile inf  */
  .createProfile {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000000;
    margin-left: 9px;

  }
  
  .profile-photo {
    justify-content: center;
    display: flex;
    margin: 20px;
  }

  .img-post {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }

  /* #filePost {
    width: 150px;
    height: 150px;
    border-radius: 53px;
  } */
  .name-profile {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 26px;
    margin-bottom: 5px;
  }

  .information-profile {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 26px;
  }

  .information-profile-instagram, .information-profile-facebook {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }

  .information-profile-facebook{ 
    margin-bottom: 19px;
  }

  .instagram-user, .facebook-user {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 26px;
    margin-top: 19px;
  }

  
  .button-edit-profile {
    background: #4d8fc2;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FEFEFE;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding: 10px 15px;
  }

  .form-button {
    display: flex;
    justify-content: center;
    margin-top: 21px;
  }

  .form-button a {
    text-decoration: none;
  }

  .form-button button{
    display: flex;
    justify-content: space-between;
    background: #4d8fc2;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FEFEFE;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .btn-profile-edit{
    margin-right: 71px;
  }

  .btn-profile-save {
    margin-left: 7px;
  }




/* Ultima llave del responsive  */
} 
