@media (min-width : 320px) and (max-width: 768px) {
        /* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
}
.selection {
    display: flex;
    flex-wrap: row;
    justify-content: space-between; 
    align-items: center;
}
.button-selection {
    font-size: 16px;
    font-family: "ORBITRON", sans-serif;
    font-weight: bold;
    color: white;
    line-height: 1.3;
    padding: 0.4em 1.4em 0.3em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color:#22335E;
    margin: 1px;   
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    overflow: hidden;
    cursor: pointer;
}
/* Boton de menu */
.botonMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;    
    height: 3rem;
    top: 1rem;
    right: 1rem;
    background-color: #22335E; 
    border: 0;
    color: white;
    cursor: pointer;
}
/* Se le quita el borde azul cuando se pulsa en Chrome */
.botonMenu:focus {
    outline: none;
}
/* Cuando es pulsado, se quita el translate que lo ocultaba */
.botonMenu:focus + .principal {
    transform: translateX(-5rem);
}
/* Se posiciona y se oculta con translate */
nav.principal {
    position: fixed;
    top: 3em;
    right: 0;
    bottom: 0;
    width: 15rem;
    background-color: #22335E;
    transform: translateX(-25rem);
    transition: 1s all;
}
/* Estilos sencillos para decorar los links */
nav.principal ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.principal a {
    display: block;
    color: #D5DED9;
    padding: 1rem;
    transition: .5s all;
}
nav.principal a:hover {
    text-decoration: none;
    background-color: #948C75;
}
header {
    display: flex;
    background-color: #22335E;
    height: 50px;}
.titulo{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.form-outline{
    background-color: #E0E0E0;
}
#search {
    border-radius: 20px;
    width: 277px;
    height: 26px;
    margin-left: 8px;
    margin-top: 7px;
    margin-bottom: 9px;

}
#agregar {
    background-color: #4D8FC2;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    width: 10%;
    position: absolute;
    width: 56px;
    height: 56px;
    left: calc(50% - 56px/2);
    top: calc(50% - 56px/2);
}
#suma {
    position: absolute;
    left: 40.83%;
    right: 20.83%;
    top: 31.83%;
    bottom: 20.83%;
    color: #FEFEFE;

}
#formulario{
    display: flex;
    position: absolute;
    margin-top: 130px;
    flex-wrap: wrap;
}
.derecha{
    display: flex;
    justify-content: flex-end;
}
.izquierda{
    display: flex;
    justify-content: flex-start;
}
#contenidoprotegido{
    height: 40vh;
    margin-top: 3px;
    overflow-y: scroll;

}

}

